.App {
  width: 400px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items:center;
}
div{
  font-size: 1.5rem;
}

.btn{
  display: flex;
  gap: 20px;
  align-items: center;
}
button{
  background-color: rgb(3, 170, 3);
  color: white;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 10px;
}