.pro {
    display: flex;
    flex-direction: column;
    width: 170px;
    gap: 10px;
    background-color: rgb(255, 215, 147);
    padding: 6px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.pro1 {
    display: flex;
    justify-content: space-between;
}

.pro2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pro1 span {
    font-size: 1rem;
}

.pro img {
    width: 170px;
    height: 150px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.25rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.main1 {
    background-color: rgb(206, 247, 0);
    width: 400px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    border-radius: 20px;
    margin: 100px auto;
}

.image {
    position: relative
}

.img1 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20%;
    right: 5%;
}

.img2 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 58.5%;
    right: 43%;
}


.size {
    font-size: 1.25rem;
    background-color: azure;
    color: black;
}

.btn {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    width: 265px;
}

.red {
    color: red;
}

span {
    font-size: 0.9rem;
}

.col {
    color: rgb(255, 0, 0);
}

p {
    font-size: 1.1rem;
}

.product img {
    width: 350px;
    height: 350px;
}

.product {
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    gap: 60px;
    width: 900px;
    margin-bottom: 105px;
}

.product1 span {
    font-size: 2rem;
}

.product1 {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.product2 {
    display: flex;
    gap: 50px;
    margin-top: 30px;
}

.product2 button {
    font-size: 1.5rem;
}

.cartbox {
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    gap: 40px;
    width: 400px;
    background-color: rgb(255, 215, 147);
    padding: 10px;
    border-radius: 10px;
}

.cartpage {
    height: 73.4vh;
}

.cartbox img {
    width: 150px;
    height: 150px;
}

.product-cart {
    height: 50vh;
    overflow-y: scroll;
    width: 480px;
    margin-left: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.cartbox-1 {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cartbox-1 span {
    font-size: 1.3rem;
}

.remove {
    color: white;
    width: 100px;
}